<footer class="bg-dark text-light p-3">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <h3>Empresa atual</h3>
                <img class="img-thumbnail image" src="https://newm.com.br/svg/logo-new-m.svg" alt="logo Empresa atual">
            </div>
            <div class="col-4">
                <h3>Redes sociais</h3>
                <ul>
                    <li>Instagram</li>
                    <li>Github</li>
                    <li>Linkedin</li>
                </ul>
            </div>
            <div class="col-4">
                <h3>Sobre</h3>
                <p>Desenvolvedor apaixonado por tudo que envolve tecnologia</p>
            </div>
        </div>
    </div>
</footer>